body{
	color: #999; 
	}
	
input, textarea { background: #f3f3f3;}
mark { background-color:#fff305;}
mark.info { background:#666; color:#fff;}
	
#boxed #wrapper {
	background:#fff url(../images/opacs/white95.png);
	}

.topbar,
.header_teaser 	{
	background-color:#F9F9F9;
	}
	
/* Menu Settings */
.sf-menu li ul     { 
	background-color: #ffffff;
	border-top:5px solid #d10b6d;
	-webkit-box-shadow:0 2px 10px rgba(0,0,0,.2);
	   -moz-box-shadow:0 2px 10px rgba(0,0,0,.2);
		    box-shadow:0 2px 10px rgba(0,0,0,.2);
	}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	Link Colors
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
mark.orange      { background-color: #ff5c00; } 
mark.red           { background-color: #861D23; } 
mark.yellow     { background-color: #ffb515; } 
mark.green       { background-color: #91bd09; } 

	a	{ color:#666; }	
	.logo span,

	a:hover { color:#d10b6d; }

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 * Headings
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
h1, h2, h3, h4, h5, h6	{ color:#000; }
	
			.nav li a  { color:#ffffff;}
			.nav li a:hover, .sf-menu li li:hover, .sf-menu li li.sfHover,
				.sf-menu li li a:focus, .sf-menu li li a:hover, 
				.sf-menu li li a:active {
					color:#d10b6d;  }
					
			.logo a	{ color:#666666;}
			

				.sf-menu li li:hover, .sf-menu li li.sfHover,
				.sf-menu li li a:focus, .sf-menu li li a:hover, 
				.sf-menu li li a:active {
					}
				.sf-menu li.current-cat a:visited, 
				.sf-menu li.current_page_item a:visited { color:#d10b6d; }
	
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
    Frontpage Teaser
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.header_teaser h3, 
.subtitle  h2,
.subdesc  h4{ 
	color:#000; 
	}
.ca-content {
	background: #fff !important;
	}
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 * Footer
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
	#footersidebar .inner  { color:grey; }
	#footersidebar h2 { color:#fff; }
	#footersidebar p { color:#666666; }
	#footersidebar h3  { color:#999999; }
